* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --line-border-fill: #9d64be;
  --line-border-empty: #e0e0e0;
}

body {
  font-family: sans-serif;
  background-image: linear-gradient(
    90deg,
    rgb(51, 51, 51) 0%,
    rgb(5, 34, 71) 100%
  );
  overflow-x: hidden;
  font-family: 'Roboto';
  height: 100vh;
  overflow-y: hidden;
}

/* NAVIGATION */
header {
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
  color: #fff;

  background-image: linear-gradient(
    90deg,
    rgba(87, 87, 87, 0.21) 0%,
    rgba(19, 19, 19, 0.32)
  );
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
}
i {
  padding: 10px;
  font-size: 20px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #333;
}

.menu {
  font-size: 16px;
  display: flex;
  gap: 20px;
  margin-right: 20px;
}

/* CHALLENGE */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

p {
  max-width: 60ex;
  margin-top: 10px;
}
.container {
  text-align: center;
  margin-top: 100px;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 300px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}

/* FOOTER */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-image: linear-gradient(
    90deg,
    rgb(137, 27, 180, 0.21) 0%,
    rgb(64, 7, 117, 0.32)
  );
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
}
